@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 202, 204, 209;
  --primary-background-color: #18191A;
}

body {
  color: rgb(var(--foreground-color));
  background-color: var(--primary-background-color);
}
